* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

body {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}
  
input[type="text"], textarea {
    font-size: 24px;
}

:root {
    --color-primary: hsl(172, 67%, 45%);
    --color-neutral-very-dark: hsl(183, 100%, 15%);
    --color-neutral-dark-grayish: hsl(186, 14%, 43%);
    --color-neutral-grayish: hsl(184, 14%, 56%);
    --color-neutral-light-grayish: hsl(185, 41%, 84%);
    --color-neutral-very-light-grayish: hsl(189, 41%, 97%);
    --color-neutral-white: hsl(0, 0%, 100%);
  }

body {
    background-color: var(--color-neutral-light-grayish);
}

header {
    margin: 0 auto;
    text-align: center;
}

main {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    width: 60%;
    margin: 0 auto;
}

.col-1 {
    grid-column: 1 / 2;
}

.col-2 {
    grid-column: 2 / 2
}

.row-1 {
    grid-row: 1;
}

.row-2 {
    grid-row: 2;
}

.row-3 {
    grid-row: 3;
}

.span-3-row {
    grid-row: 1 / 4;
    background-color: var(--color-neutral-very-dark);
}

.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 20px auto 0;
    width: 95%;
    background-color: #26c0ab;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .reset:hover {
    background-color: #1f9c89;
  }
  
  .totals {
    color: white;
  }

  .totals h6 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    color: #999;
    margin-left: 10px;
  }

  .totals h2 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    color: #26c0ab;
  }


  .total-amount {
    display: flex;
    align-items: center;
  }

  .tip-total {
    display: flex;
    justify-content: space-between;
  }
  